html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#navbar-logo {
  width: 16vmin;
  margin-left: -20px;
}

#navigation li {
  vertical-align: middle;
  padding-top: 45px;
  display: inline;
}

.top-menu {
  width: 100%;
  min-height: 83px;
  background-color: #0006;
  position: absolute;
}

.language-select-box {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
}

.top-menu a {
  background: none;
  font-family: Cinzel, serif;
  font-size: calc(7px + 1vmin);
  text-decoration: none;
}

.top-menu a:hover {
  color: #fff;
}

.bottom-menu {
  background-color: #0006;
}

.bottom-menu a {
  background: none;
  margin-left: 0;
  margin-right: 0;
  font-family: Cinzel, serif;
  font-size: calc(4px + 2vmin);
  text-decoration: none;
}

.bottom-menu a:hover {
  color: #fff;
}

.default {
  color: #ffffff96;
  margin-left: 10px;
}

.clicked {
  color: #fff;
  margin-left: 10px;
}

#footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer li {
  vertical-align: middle;
  display: inline;
}

.icon {
  color: #fff;
  margin: 3px;
}

.page {
  width: 100%;
  color: #919191;
  max-height: 70%;
  background-color: #0006;
  padding-top: 100px;
  display: none;
  position: absolute;
  top: 83px;
  overflow-y: scroll;
}

.wrapper {
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  display: grid;
}

.span-two-columns-1 {
  grid-column: 5 / 9;
  margin: 50px;
}

.span-three-columns-1 {
  grid-area: 1 / 1 / auto / 4;
}

.span-three-columns-2 {
  grid-area: 2 / 1 / auto / 9;
  margin: 50px;
}

.tour-widget {
  grid-area: 1 / 1 / auto / 9;
  margin: 50px;
}

.page-image-1 {
  position: grid;
  width: calc(100px + 60vmax);
  max-width: 600px;
  grid-column: 4 / 4;
  margin-left: auto;
  margin-right: auto;
}

.imgbox {
  height: 100%;
  display: grid;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.text-left {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.text-right {
  width: 50%;
  margin-left: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
}

.center {
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#loading-percentage {
  color: #f0f8ff50;
  text-align: center;
  margin: auto;
  font-family: monospace;
  font-size: small;
  display: grid;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

#loading-screen {
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #000;
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  width: 150px;
  height: 150px;
  border: 3px solid #0000;
  border-top-color: #9370db;
  border-radius: 50%;
  margin: -75px 0 0 -75px;
  animation: 2s linear infinite spin;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}

#loader:before {
  content: "";
  border: 3px solid #0000;
  border-top-color: #ba55d3;
  border-radius: 50%;
  animation: 3s linear infinite spin;
  position: absolute;
  inset: 5px;
}

#loader:after {
  content: "";
  border: 3px solid #0000;
  border-top-color: #f0f;
  border-radius: 50%;
  animation: 1.5s linear infinite spin;
  position: absolute;
  inset: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.4d663569.css.map */
